<% provide(:title, 'ActivityHelper') %>
<div class="center hero-unit">
	<h1>Welcome To The Activities Helper</h1>
	

	<%= link_to "Sign Up Now!",new_user_registration_path, class: "btn bnt-large btn-primary" %>
</div>