// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form {
	display: none;
	background-color:none
}

.create-comment-form{
	background-color:hsl(0, 12%, 49%);
	padding-top:10px;
	input[type="text"]{
		box-shadow: 5px 5px 4px;
	}
}

.user-comments{
	background:gray;
}

