@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  
  background: asset_url("bg-top.jpg") repeat scroll 0% 0% rgb(39, 38, 42);
  padding-top: 60px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 4px;
  padding-bottom:2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.item img{
  width:100%;
}

form.form-search
{
	padding-top:5px;
	margin: 0px;
}


/* Footer */
$grayMediumLight: #eaeaea;
footer {
  margin-top: 45px;
  padding-top: 5px;
  //background-color: rgb(51, 51, 51);
  //border-top: 1px solid $grayMediumLight;
  border-top:4px solid rgb(136, 136, 136);
  color: $grayLight;
  a {
    color: $grayDarker;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.btn-custom { 
  background-color: hsl(145, 62%, 68%) !important; 
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4)); 
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4); 
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4)); 
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4); 
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4); 
  background-image: linear-gradient(#cdf3dd, #7adfa4); 
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; 
}

.new-activity-form{
  background-color:rgb(36, 48, 47);
  //background-color: $gray !important; background-repeat: repeat-x;border-color: #282828 #282828 hsl(0, 0%, 11%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased;
  border: solid 1px cyan;
  display: inline-block;
  border-radius: 10px;
  width:100%;
  box-shadow: 4px 4px 5px #888;
}
.custom-select{
  float:left;
  padding-top:10px;
  padding-left:10px;
  width:45%;
  select{
    width:100%;
  }
}
.custom-input{
  float:right;
  width:50%;
  padding-top:11px;
  padding-right:10px;
  input{
    width:95%;
  }
}
.custom-textarea{
  clear:both;
  width:99%;
  placeholder:dgsd;
  padding-left:10px;
  padding-right:10px;
  float:left;
  textarea{
    width:89%;
  }
}


/* activities */

.activities{
  list-style: none;
  margin: 10px 0 0 0;
  
  li {
    padding: 8px 0;

   // border-top: 1px solid #e8e8e8;
    //height:90px;
  }
}
.content {
  display: block;
  padding-bottom:8px;
}
.timestamp {
  color: $gray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.hero-unit {
    
    background: asset_url("bg.jpg") repeat scroll center top rgb(36, 48, 47);
    font-size:16px;
    font-weight:100;
    color:white;
    font-family:"Times New Roman",Georgia,Serif;
    li{
      line-height:18px;
      padding-bottom:20px;
    }
}

.hero-unit.timestamp{
  padding-top:20px;
}

.activity-feed{
  
  border-radius: 10px;
  margin-bottom:8px;
  //background: asset_url("bg.jpg") scroll center top rgb(36, 48, 47);
  background:top rgb(36, 48, 47);
  border: 1px solid white;
  box-shadow: 7px 7px 6px #888;
  color:white;
  padding-left:10px;
  .span{
    float:right;
   
  }
  .gravatar{
    border:1px solid cyan;
    border-radius:100%;
    box-shadow: 4px 4px 2px hsl(70, 11%, 23%);
    margin-left:4px
  }
  .span1{
     //background-color:  hsl(0, 12%, 49%) !important;
     //box-shadow: 4px 4px 2px;
     border-radius:5px;
  }
  .span8{
     border-left: 1px solid $grayLighter;

     .content{
      margin-left:20px;
      margin-right:20px;
      .timestamp{
          color: $gray;

      }
     }
  }
  .span3{
    padding-left:10px;
  }
  .name{
    border-bottom: 1px solid $grayLighter;

  }
}

 
 div.remember-me-label{
  label{
    display:inline;
    margin-left:10px;
  }
  input[type="checkbox"] {
    margin-top:0px;
    margin-bottom:2px;
  }
 }