<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=link_to @user.username, user_url(@user) %> has sent you a friend request</h1>
    <p>
      Visit your profile to accept the friendship request.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Login", new_user_session_url  %>.
    </p>
    <p>have a great day!</p>
  </body>
</html>